.title{
    color:#DB0707;
    font-size:18px;
    font
}
.sub-title{
    color:gray;
    font-size:16px;
}
.nav-link{
    color: #333;
}
.membership{
    background-color:#D20303;
    color:white;
    border-radius:8px;
    padding:6px;
    width:150px;
    height:40px;

}
.button-library{
    background-color:#2C2B2B;
    color:white;
}
.image-first{
width:50%
}
.right-description{
    width:50%;
 

}
.arrow-right{
   border: 1px solid #EF0F0F;
   border-radius:100%;
}